body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  max-width: 1440px;
  margin: 100px auto 0px auto;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

button {
  flex: 1;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.container {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0px auto;
}

.display {
  height: 50px;
  line-height: 50px;
  border: solid 1px black;
  text-align: right;
  padding: 0.5rem;
  font-size: 2rem;
  outline-color: #386fa4;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.row-container {
  display: flex;
  flex: 1 1 70.33%;
  flex-direction: column;
  gap: 0.5rem;
}

.aside-container {
  display: flex;
  flex: 1 1 30.33%;
  flex-direction: column;
  gap: 0.5rem;
}

.aside-container button:first-child {
  flex: 1 1 10.33%;
}

.aside-container button:nth-last-child(-n + 2) {
  flex: 1 1 45.33%;
}

.b-wrapper {
  display: flex;
  gap: 0.5rem;
}

.b-wrapper button {
  flex: 1 1 33.33%;
}

.b-wrapper:last-child button:last-child {
  max-width: 85.97px;
}


/* UI Styles */

#sign-btn,
#backspace-btn {
  border-radius: 4px;
  color: #312f2f;
  background-color: #D9EFFC;
}

.operators,
#clear-btn,
#equal-btn {
  border-color: #386fa4;
  border-radius: 4px;
  background-color: #a6d9f7;
  color: #312f2f;
}

.numbers {
  background-color: #bccce0;
  color: #312f2f;
  border-radius: 4px;
}

button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

